body {
    font-family: 'Alegreya', serif;
    margin: 0px;
    height: 100%;
    max-width: 2000px;
    overflow: auto;
}
.text {
    margin: 0;
    padding: 0;
}
.conteiner-navigation {
    max-width: 2000px;
    height: 120px;
    box-shadow: 5px 5px 7px rgb(73, 68, 68);
    overflow: auto;
    background-color: #9a9292;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
a {
    text-decoration:none;
    color: #9a9292;
}
.menu {
    text-align: center;
}

.menu li {
    list-style-type: none;
    padding-left: 15px;
    padding-right: 15px;
    display: inline-block;
}

.menu li a {
    color: rgb(246 198 203);
    text-decoration: none;
    font-size: 27px;
  }

.menu li a:hover {
    text-decoration: underline;
}

.wrapper{
 width: 100%;
 display: flex;
}

.information {
    width: 370px;
    background-color: rgb(246 198 203);
    box-shadow: 0px 0px 6px rgb(73 68 68);
}
.text {
    word-wrap: break-word;
    max-width: 350px;
}
img.myfoto {
    transform: perspective(500px) rotate3d(20, 40, 0, 13deg);
    width: 100%;
}

.main-information {
    margin-left: 30px;
    overflow: hidden;
}

.name {
    font-size: 60px;
    margin: 0px;
    text-align: center;
    padding-top: 30px;
    color: rgb(246 198 203);
}

.profesional {
    font-size: 30px;
    margin: 0px;
    text-align: center;
    padding-top: 10px;
    color: rgb(246 198 203);
}

.myname {
    margin-bottom: 50px;
    padding-top: 80px;
}

.header-information {
    height: 60px;
    background-color: #a0a0a0;
    border-radius: 17px;
    margin: 30px 30px 30px 30px;
    text-align: center;
    box-shadow: 5px 5px 7px rgb(73, 68, 68);
}

.header-name {
    font-size: 40px;
    font-weight: 900;
    color: rgb(246 198 203);
}

.information-about-me {
    padding: 10px;
}

.addres, .phone, .e-mail, .github, .telegram {
    padding: 10px;
    display: flex;
    align-items: center;
}

.material-symbols-outlined, .fa-brands {
    font-size: 30px;
    color: #9a9292;
    font-weight: 900;
}

.icon-text {
    font-size: 23px;
    color: #9a9292;
    font-weight: 900;
    padding-left: 10px;
}
.text {
    font-size: 23px;
    color: #9a9292;
    font-weight: 700;
    padding-left: 5px;
}

.education-text, .contact-text {
    height: 60px;
    background-color: #9a9292;
    border-radius: 17px;
    margin: 15px;
    text-align: center;
    box-shadow: 5px 5px 7px rgb(73, 68, 68);
    margin-top: 80px;
}

.education-name, .contact-name {
    font-size: 40px;
    font-weight: 900;
    color: rgb(246 198 203);
}

.text-abot-me-conteiner {
    padding: 20px 20px 10px 40px;
}
.code-text {
    margin: 30px 30px 30px 30px;
}
.text-abot-me, .project-name {
    font-size: 25px;
    color: #9a9292;
    font-weight: 900;
    padding-left: 10px;
    text-decoration: none;
}

.project-conteiner {
   display: flex;
   justify-content: space-around;
   padding-right: 50px;
   padding-left: 50px;
   flex-wrap: wrap;
   margin-bottom: 120px;
}

.project {
    border: solid 10px #9a9292;
    text-align: center;
    margin: 5px;
}

.project-foto {
    height: 200px;
    width: 250px;
    display: block;
    padding: 15px;
}

.footer-text {
    font-size: 40px;
    font-weight: 900;
    color: rgb(246 198 203);
    padding-top: 10px;
    text-align: center;
    flex-basis: 80%;
}

.conteiner-navigation-footer {
    display: flex;
    max-width: 2000px;
    height: 90px;
    box-shadow: 5px 5px 7px rgb(73 68 68);
    overflow: auto;
    background-color: #9a9292;
}

.logo-image {
    height: 50px;
    padding: 15px;
}

.logo {
   flex-basis: 10%;flex-basis: 10%;
}

@media (max-width: 720px) {
    .menu li a {
        font-size: 20px;
    }
    .information {
        width: 200px;
    }
    .education-name, .contact-name {
        font-size: 25px;
    }
    .education-text, .contact-text {
        height: 40px;
    }
    .material-symbols-outlined, .fa-brands {
        font-size: 20px;
    }
    .icon-text, .text {
        font-size: 20px;
    }
    .icon-text-mail, .text {
        font-size: 20px;
    }
    .name {
        font-size: 40px;
    }
    .myname {
        margin-bottom: 80px;
        padding-top: 20px;
    }
    .header-information {
        height: 40px;
        margin: 10px 10px 10px 10px;
    }
    .header-name {
        font-size: 25px;
    }
    .text-abot-me, .project-name {
        font-size: 20px;
    }
    .project-foto {
        height: 100px;
        width: 150px;
        padding: 5px;
    }
    .logo-image {
        height: 40px;
    }
    .footer-text {
        font-size: 30px;
    }
    .main-information {
        margin-left: 10px;
    }
    .text {
        word-wrap: break-word;
        max-width: 150px;
    }
}
@media (max-width: 460px) {
    .wrapper{
        flex-direction: column;
    }
    .information {
        width: 100%;
    }
    img.myfoto {
        width: 50%;
        transform: translate(50%, 10%) perspective(500px) rotate3d(20, 40, 0, 13deg);
    }
    .menu li a {
        font-size: 17px;
    }
    .text {
        max-width: 100%;
    }
    .education-text {
        margin-top: 25px;
    }
    .project-conteiner {
        margin-bottom: 50px;
    }
}