body {
    font-family: 'Varela', sans-serif;
    font-size: 16px;
    margin: 0;
    height: 100%;
    max-width: 2000px;
    overflow: auto;
    background-color: rgb(9 32 63);
}
p {
    margin: 0;
    padding: 0;
}
.conteiner-navigation {
    width: 100%;
    box-shadow: 4px 2px 2px rgb(137, 202, 170);
    height: auto;
    overflow: hidden;
}
a {
    text-decoration:none;
}
.menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 60%;
    margin: 0 auto;
    flex-wrap: wrap;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}
.menu li {
    list-style-type: none;
    padding-right: 2rem;
    display: inline-block;
}
.menu li a {
    color: rgb(137, 202, 170);
    text-decoration: none;
    font-size: 1.5rem;
}
.menu li a:hover {
    text-decoration: underline;
}
.button {
    background-color: rgb(137, 202, 170);
}
.button a {
    color: #34495e;
}
.btn {
    background-color: transparent;
    border: 2px solid rgb(137, 202, 170);
    color: rgb(137, 202, 170);
    display: flex;
    align-self: center;
    font-size: 1rem;
    margin: 0.8rem;
    padding: 0.5rem 1rem;
    text-align: center;
}
.resume {
    border-color: rgb(137, 202, 170);
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: color 150ms ease-in-out;
}
.resume:after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 100%;
    background: rgb(137, 202, 170);
    z-index: -1;
    transition: width 150ms ease-in-out;
}
.resume:hover {
    color: #34495e;
}
.resume:hover:after {
    width: 110%;
}
.name {
    margin-top: 5rem;
}
.myname {
    color: rgb(206 214 243);
    font-size: 4.2rem;
    position: relative;
    width: 42rem;
    margin: 0 auto;
}
@keyframes noise-anim {
    0% {
      clip: rect(26px, 9999px, 82px, 0);
    }
    5% {
      clip: rect(33px, 9999px, 33px, 0);
    }
    10% {
      clip: rect(61px, 9999px, 91px, 0);
    }
    15% {
      clip: rect(37px, 9999px, 66px, 0);
    }
    20% {
      clip: rect(75px, 9999px, 10px, 0);
    }
    25% {
      clip: rect(96px, 9999px, 67px, 0);
    }
    30% {
      clip: rect(33px, 9999px, 99px, 0);
    }
    35% {
      clip: rect(66px, 9999px, 72px, 0);
    }
    40% {
      clip: rect(81px, 9999px, 32px, 0);
    }
    45% {
      clip: rect(43px, 9999px, 76px, 0);
    }
    50% {
      clip: rect(45px, 9999px, 61px, 0);
    }
    55% {
      clip: rect(95px, 9999px, 49px, 0);
    }
    60% {
      clip: rect(52px, 9999px, 12px, 0);
    }
    65% {
      clip: rect(78px, 9999px, 19px, 0);
    }
    70% {
      clip: rect(17px, 9999px, 67px, 0);
    }
    75% {
      clip: rect(86px, 9999px, 35px, 0);
    }
    80% {
      clip: rect(29px, 9999px, 39px, 0);
    }
    85% {
      clip: rect(95px, 9999px, 18px, 0);
    }
    90% {
      clip: rect(96px, 9999px, 92px, 0);
    }
    95% {
      clip: rect(10px, 9999px, 88px, 0);
    }
    100% {
      clip: rect(67px, 9999px, 76px, 0);
    }
}
.myname:after {
    content: attr(data-text);
    position: absolute;
    left: 2px;
    text-shadow: -1px 0 red;
    top: 0;
    color: rgb(206 214 243);
    background: rgb(9 32 63);
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim 2s infinite linear alternate-reverse;
}
@keyframes noise-anim-2 {
    0% {
      clip: rect(37px, 9999px, 19px, 0);
    }
    5% {
      clip: rect(97px, 9999px, 20px, 0);
    }
    10% {
      clip: rect(41px, 9999px, 88px, 0);
    }
    15% {
      clip: rect(76px, 9999px, 28px, 0);
    }
    20% {
      clip: rect(75px, 9999px, 49px, 0);
    }
    25% {
      clip: rect(31px, 9999px, 74px, 0);
    }
    30% {
      clip: rect(65px, 9999px, 90px, 0);
    }
    35% {
      clip: rect(20px, 9999px, 21px, 0);
    }
    40% {
      clip: rect(76px, 9999px, 16px, 0);
    }
    45% {
      clip: rect(14px, 9999px, 32px, 0);
    }
    50% {
      clip: rect(28px, 9999px, 84px, 0);
    }
    55% {
      clip: rect(92px, 9999px, 66px, 0);
    }
    60% {
      clip: rect(73px, 9999px, 16px, 0);
    }
    65% {
      clip: rect(36px, 9999px, 22px, 0);
    }
    70% {
      clip: rect(27px, 9999px, 63px, 0);
    }
    75% {
      clip: rect(32px, 9999px, 10px, 0);
    }
    80% {
      clip: rect(12px, 9999px, 61px, 0);
    }
    85% {
      clip: rect(26px, 9999px, 3px, 0);
    }
    90% {
      clip: rect(54px, 9999px, 23px, 0);
    }
    95% {
      clip: rect(93px, 9999px, 55px, 0);
    }
    100% {
      clip: rect(79px, 9999px, 97px, 0);
    }
  }
  .myname:before {
    content: attr(data-text);
    position: absolute;
    left: -2px;
    text-shadow: 1px 0 blue;
    top: 0;
    color: rgb(206 214 243);
    background: rgb(9 32 63);
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim-2 3s infinite linear alternate-reverse;
}
.img {
    width: 80px;
}
.text-start {
    position: relative;
    display: flex;
    margin-bottom: 0.5rem;
    margin-top: 6rem;
    margin-right: 5rem;
    margin-left: 5rem;
}
.console-container {
    font-size: 1.5rem;
    text-align: center;
    height: 100px;
    width: 80%;
    display: block;
    color: rgb(137, 202, 170);
    margin:auto;
}
.console-underscore {
    display:inline-block;
    position:relative;
    top:-0.14em;
    left:10px;
}
.text {
    color: rgb(137, 202, 170);
}
.main-information {
    margin-bottom: 0.5rem;
    margin-top: 6rem;
    margin-right: 5rem;
    margin-left: 5rem;
}
.header-information {
    text-align: center;
    margin: 2.5rem;
    margin-top: 5rem;
}
.header-name {
    color: rgb(206 214 243);
    font-size: 2.5rem;
}
.text-abot-me, .project-name, .text-project {
    color: rgb(137, 202, 170);
    font-size: 1.5rem;
}
.text-abot-me {
    color: rgb(137, 202, 170);
    font-size: 2rem;
}
.text-project {
    color: rgb(137, 202, 170);
    font-size: 0.8rem;
}
.img-skills {
    width: 60px;
    margin: 1rem;
}
.container-skills, .project-conteiner {
    text-align: center;
}
.project-foto {
    width: 300px;
    height: 150px;
    border: 2px solid rgb(27 71 109);
    border-radius: 20px;
    box-shadow: 5px 5px 7px rgb(27 71 109);
}
.project-conteiner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.project {
    margin: 1rem;
}
.project:hover {
    transform: scale(1.2);
}
.conteiner-footer-navigation {
    width: 100%;
    box-shadow: 4px 2px 2px 4px rgb(137, 202, 170);
    height: auto;
    margin-top: 9rem;
}
.footer-navigation {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 60%;
    margin: 0 auto;
    flex-wrap: wrap;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    height: 80px;
}
.material-symbols-outlined, .fa-brands {
    color: rgb(137, 202, 170);
    font-size: 2.5rem;
}
@media (max-width: 640px) {
    body {
        font-size: 14px;
    }
    .myname {
        font-size: 3rem;
        width: 30rem;
        margin: 0 auto;
    }
    .text-abot-me {
        font-size: 1.5rem;
    }
}
@media (max-width: 460px) {
    body {
        font-size: 12px;
    }
    .myname {
        font-size: 1.5rem;
        width: 10rem;
        margin: 0 auto;
    }
    .name {
        margin-top: 2rem;
        text-align: center;
    }
    .menu li a {
        font-size: 1rem;
    }
    .console-container {
        font-size: 1rem;
    }
    .img {
        width: 50px;
    }
    .header-name {
        font-size: 1.5rem;
    }
    .project-name, .text-project {
        font-size: 1rem;
    }
    .text-abot-me {
        font-size: 1rem;
    }
    .text-project {
        font-size: 0.5rem;
    }
    .main-information, .text-start {
        margin-top: 2rem;
        margin-right: 1rem;
        margin-left: 1rem;
    }
    .header-information {
        margin: 2rem;
        margin-top: 2rem;
    }
    .material-symbols-outlined, .fa-brands {
        font-size: 2rem;
    }
    .conteiner-footer-navigation {
        margin-top: 5rem;
    }
    .img-skills {
        width: 50px;
        margin: 0.5rem;
    }
    .project-foto {
        width: 200px;
        height: 100px;
    }
    .menu {
        width: 100%;
        justify-content: normal;
    }
    .btn {
        margin: 0.4rem;
        padding: 0.4rem 0.4rem;
    }
}